/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 25px;
  background-color: #fce4ec;
}

h1 {
  margin-top: 10px;
  font-weight: bold;
  color: #f8bbd0;
}

div {
  overflow-wrap: break-word;
}

.info {
  background: white;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

footer > a {
  color: #BBBBBB;
}
